* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

li {
  list-style: none;
}

p {
  line-height: 25px;
  font-size: 14px;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 60px;
}

header {
  padding: 24px 24px 0;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 74px;
  height: 24px;
}

h2 a {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  padding-left: 5px;
  color: #606368;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 10px;
}
nav span:first-child {
  display: flex;
}
nav li a {
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  margin-right: 35px;
  color: #606368;
}
li .active {
  color: #4C5DD4;
  border-bottom: 3px solid #4C5DD4;
  padding-bottom: 7px;
}

main {
  border-top: 1px solid #c9ccd4;
  padding: 20px 0;
}

.container {
  width: 978px;
  margin: auto;
}

footer {
  background-color: #F5F5F5;
}

.footer-container {
  width: 978px;
  margin: auto;
  height: 45px;
  display: flex;
  align-items: center;
}
.footer-container ul {
  display: flex;
}
.footer-container ul li a {
  font-size: 11px;
  text-decoration: none;
  color: #606368;
  margin-right: 10px;
}
